page-home {
    
}

.color--bg {
    background: {
        color: black;
    }
}

.color--title {
    &-color {
        color: #fff;
    }

    &-center {
        text-align: center;
    }

}

.color__wrapper {
    display: flex;
    max-width: 300px;
    flex: {
        wrap: wrap;
    }
}

.color {
    width: 33%;
    height: 100px;
} 

@each $color in white, orange, yellow, pink, blue, brown {
    .color-#{$color} {
        background: {
            color: #{$color};
        }
    }
}
